body{
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2, h3, h4, label{
    font-family:Arial; color:white 
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type:none;
    background-color:rgb(58, 58, 58);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color:white;
    
    padding: 15px;
    display: block;
    text-align:center;

}
.navbar a:hover{
    background-color:rgb(36, 36, 36)
}
.navbar li{
    float: left;
}
lable{
    font-family: Arial; color: white;
}
*{
    margin-left: 30px;
}
buttons{
    cursor: pointer;
}